<nav class="navbar navbar-expand-lg navbar-light box-shadow border-bottom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngIf="auth.isAuthenticated() && !auth.esAdmin()">
        <a class="nav-link" routerLink="/crear-reclamo">Nuevo Reclamo</a>
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated() && !auth.esAdmin()">
        <a class="nav-link" routerLink="/mis-reclamos">Ver mis reclamos</a>
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated() && !auth.esAdmin()">
        <a class="nav-link" routerLink="/tengo-un-problema">Tengo un problema</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todos-los-reclamos">Ver todos los reclamos</a>
      </li>
      <li class="nav-item" *ngIf="auth.esAdmin()">
        <a class="nav-link" routerLink="/admin-panel">Panel Administrador</a>
      </li>
    </ul>
    <form class="form-inline">
      <button id="qsLoginBtn"
        class="btn btn-primary my-2 my-sm-0"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()" type="button">
          Ingresar
      </button>

      <button id="qsLogoutBtn"
        class="btn btn-primary my-2 my-sm-0"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()" type="button">
          Cerrrar sesión
      </button>

    </form>
  </div>
</nav>

<router-outlet></router-outlet>
