<header>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</header>
<div class="py-5 text-center index-main">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 container-fluid">
        <h1 class="display-3 mb-4 text-white">ReclamAR</h1>
        <img src="../../assets/img/logo-white.png">
        <div class="header-tittle container-fluid">
          <h3 class="text-white">La plataforma en donde podras realizar y gestionar todos tus reclamos al municipio de forma on-line.<br>
            Fácil y sin largas demoras </h3>
        </div>

        <form class="form-inline justify-content-center">
          <div class="input-group my-1">
            <input #id type="number" class="form-control mr-3 my-1" placeholder="Numero de reclamo" id="inlineFormInputGroup" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
          </div>
          <button type="submit" class="btn btn-secondary" (click)="buscarReclamo(id.value)">Buscar reclamo</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="py-5 text-center bg-gris" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Variedad de reclamos</h1>
        <p class="lead">Podes crear diferentes tipos de reclamos y gestionarlos todos juntos en una misma plataforma</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../assets/img/luminaria.jpg">
        <p class="my-4">
        </p>
        <b>Luminaria</b>
      </div>
      <div class="col-md-3 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../assets/img/arboleda.JPG">
        <p class="my-4">
          <b>Arboleda</b>
        </p>
      </div>
      <div class="col-md-3 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../assets/img/semaforo.jpg">
        <p class="my-4">
          <b>Semaforo</b>
        </p>
      </div>
      <div class="col-md-3 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../assets/img/bacheo.jpg">
        <p class="my-4">
          <b>Bacheo</b>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-5  " >
  <div class="container">
    <div class="row">
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa fa-users"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>Vecinos unidos</b>
            </h5>
            <p class="my-1">Cada reclamo que hagas vos o tus vecinos se encuentran centralizados en un unico mapa.
              De esta formas todos van a estar comunicados y al tanto de cada reclamo que se realice en el barrio.</p>
          </div>
        </div>
      </div>
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-map-o"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>Mapa interactivo</b>
            </h5>
            <p class="my-1">Realiza tu reclamo de una forma muy intuitiva, seleccionando el lugar de incidente en un mapa interactivo. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa fa-search"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>Busca tu reclamo</b>
            </h5>
            <p class="my-1">Busca tu reclamo y segui tu reclamo de cerca. Nunca fue tan facil! </p>
          </div>
        </div>
      </div>
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa fa-tags"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>Agrupados por tipo</b>
            </h5>
            <p class="my-1">Filtramo los reclamos por tipos, para que vos y tus vecinos los puedan encontrar y gestionar de forma facil.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa fa fa-cloud-upload"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>24/7</b>
            </h5>
            <p class="my-1">Tu reclamo siempre actualizado, en tiempo real y sin demoras. </p>
          </div>
        </div>
      </div>
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa fa fa-calendar"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b>Agenda la reparacion</b>
            </h5>
            <p class="my-1">Vas a poder saber la fecha exacta que se va a solucionar tu problema. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-gris" >
  <div class="container">
    <div class="row">

    </div>
    <div class="row">
      <div class="col-md-12 mt-3 text-center">
        <p>© Copyright 2018 ReclamAR.</p>
      </div>
    </div>
  </div>
</div>
