      <div class="form-check mb-3">
        <input id="problemaPalo" class="form-check-input" type="checkbox" name="problemaPalo" [(ngModel)]="tipoDeReclamo.problemaPalo" >
        <label class="form-check-label">Problema en el palo</label>
      </div>

      <div class="form-check mb-3">
        <input id="problemaFoco" class="form-check-input" type="checkbox" name="problemaFoco" [(ngModel)]="tipoDeReclamo.problemaFoco" >
        <label class="form-check-label">Problema en el foco</label>
      </div>
