<div class="container">
  <div class="row">
    <div class="col">
        <agm-map class="mapa"
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)">
      
        <agm-marker 
            *ngFor="let m of markers; let i = index"
            (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="m.draggable"
            (dragEnd)="markerDragEnd(m, $event)"
            (mouseOver)="infoWindow.open();"
            (mouseOut)="infoWindow.close();">
            
            
          <agm-info-window #infoWindow>
              <strong>Latitud {{m.lat}}, Longitud {{m.lng}} </strong>
          </agm-info-window>
          
        </agm-marker>

      
      </agm-map>
    </div>

    <div class="col">
      <div class="container">
        <h1>Crear Reclamo</h1>

        <form #formulario="ngForm">
      <div class="form-check">
        <input id="problemaPalo" class="form-check-input" type="checkbox" name="problemaPalo" [(ngModel)]="luminaria.problemaPalo" >
        <label class="form-check-label">Problema en el palo?</label>
      </div>

      <div class="form-check">
        <input id="problemaFoco" class="form-check-input" type="checkbox" name="problemaPalo" [(ngModel)]="luminaria.problemaFoco" >
        <label class="form-check-label">Problema en el foco?</label>
      </div>

     <div class="form-group">
            <label for="exampleFormControlTextarea1">Detalle del reclamo:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="reclamo.detalle" name="detalle"></textarea>
       </div>
      <button type="submit" class="btn btn-primary" (click)="generarReclamo()">¡ReclamAR!</button>
        </form>

      </div>
    </div>
  </div>

</div>
