<div class="container">
  <div class="row">
    <div class="col">
      Mapa
    </div>
    <div class="col">
      <div class="container">
        <h1>Crear Reclamo</h1>

        <form #formulario="ngForm">
      <div class="form-check">
        <input id="problemaPalo" class="form-check-input" type="checkbox" name="problemaPalo" [(ngModel)]="luminaria.problemaPalo" >
        <label class="form-check-label">Problema en el palo?</label>
      </div>

      <div class="form-check">
        <input id="problemaFoco" class="form-check-input" type="checkbox" name="problemaPalo" [(ngModel)]="luminaria.problemaFoco" >
        <label class="form-check-label">Problema en el foco?</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="generarReclamo()">¡ReclamAR!</button>
        </form>

      </div>
    </div>
  </div>

</div>
