<div class="modal-header">
  <h4 class="modal-title">Confirmación</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>¿Estas seguro que deseas eliminar la cuadrilla?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Aceptar</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancelar</button>
</div>
