<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <div class="container h-100">
    <div class="row align-items-center ">
      <div class="col-6 mx-auto">
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="goCrearLuminaria()">Luminaria</button>
        <button type="button" class="btn btn-outline-secondary btn-lg" (click)="goCrearBacheo()">Baches</button>
        <button type="button" class="btn btn-outline-success btn-lg"(click)="goCrearArboleda()">Arboleda</button>
        <button type="button" class="btn btn-outline-danger btn-lg" (click)="goCrearSemaforo()">Semaforos</button>
      </div>
    </div>
  </div>
</div>




