<div class="py-5 text-center index-main">
  <div class="container py-5">
    <div class="row ">
      <div class="col-md-12">
        <h1 class="display-3 mb-4 text-white">ReclamAR</h1>
        <p class=" header-tittle">La plataforma en donde podras realizar y gestionar todos tus reclamos al municipio de forma on-line.<br>
              Fácil y sin largas demoras </p>
        <a href="#" class="btn btn-lg mx-1 btn-secondary">Crear Reclamo!</a>
      </div>
    </div>
  </div>
</div>

<div class="py-5 text-center bg-light" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Variedad de reclamos</h1>
        <p class="lead">Podes crear diferentes tipos de reclamos y gestionarlos todos juntos en una misma plataforma </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../assets/img/luminaria.jpg">
        <p class="my-4">
        </p>
          <b>Luminaria</b>
      </div>
      <div class="col-md-3 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../assets/img/arboleda.JPG">
        <p class="my-4">
          <b>Arboleda</b>
        </p>
      </div>
      <div class="col-md-3 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../assets/img/semaforo.jpg">
        <p class="my-4">
          <b>Semaforo</b>
        </p>
      </div>
      <div class="col-md-3 p-4">
        <img class="img-fluid d-block rounded-circle mx-auto" src="../../assets/img/bacheo.jpg">
        <p class="my-4">
          <b>Bacheo</b>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-5 text-center bg-light" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="pb-3 text-secondary">Sometimes is just matter to write things clear.&nbsp;</h1>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-md-6">
        <div class="row my-5">
          <div class="col-2 order-lg-2 col-2 text-center">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
          </div>
          <div class="col-10 text-lg-right text-left order-lg-1">
            <h4 class="text-primary">Responsive design</h4>
            <p>Based on fluid design principles.
              <br>Works with screen resolution</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 order-lg-2 col-2 text-center">
            <i class="d-block fa fa-circle-thin fa-4x"></i>
          </div>
          <div class="col-10 text-lg-right text-left order-lg-1">
            <h4 class="text-primary">Customized settings</h4>
            <p>Choose settings depending on the criteria you value the most</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 order-lg-2 col-2 text-center">
            <i class="d-block fa  fa-comment-o fa-3x"></i>
          </div>
          <div class="col-10 text-lg-right text-left order-lg-1">
            <h4 class="text-primary">Connect</h4>
            <p>In-app chat panel 24/7 active.
              <br>The support you need, right there.</p>
          </div>
        </div>
      </div>
      <div class="text-left col-md-6">
        <div class="row my-5">
          <div class="col-2 text-center">
            <i class="d-block fa fa-battery-empty fa-3x"></i>
          </div>
          <div class="col-10">
            <h4 class="text-primary">Battery-friendly</h4>
            <p>Non consuming background operation
              <br>Pingendo enhance the battery duration.</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 text-center">
            <i class="d-block mx-auto fa  fa-clone fa-3x"></i>
          </div>
          <div class="col-10">
            <h4 class="text-primary">Multilayers</h4>
            <p>Work simultaneously on different panels.
              <br>Share the work with teammates.</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 text-center">
            <i class="d-block fa  fa-heart-o fa-3x"></i>
          </div>
          <div class="col-10">
            <h4 class="text-primary">Share the love</h4>
            <p>Help us spreading the word.
              <br>Tell your friends with just one-click</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <div class="container h-100">
    <div class="row align-items-center ">
      <div class="col-6 mx-auto">
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="goCrearLuminaria()">Luminaria</button>
        <button type="button" class="btn btn-outline-secondary btn-lg" (click)="goCrearBacheo()">Baches</button>
        <button type="button" class="btn btn-outline-success btn-lg"(click)="goCrearArboleda()">Arboleda</button>
        <button type="button" class="btn btn-outline-danger btn-lg" (click)="goCrearSemaforo()">Semaforos</button>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-dark text-white" >
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p class="lead">Sign up to our newsletter for the latest news</p>
        <form class="form-inline">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
          <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
        </form>
      </div>
      <div class="col-4 col-md-1 align-self-center">
        <a href="https://www.facebook.com" target="_blank">
          <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
        </a>
      </div>
      <div class="col-4 col-md-1 align-self-center">
        <a href="https://twitter.com" target="_blank">
          <i class="fa fa-fw fa-twitter fa-3x text-white"></i>
        </a>
      </div>
      <div class="col-4 col-md-1 align-self-center">
        <a href="https://www.instagram.com" target="_blank">
          <i class="fa fa-fw fa-instagram text-white fa-3x"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3 text-center">
        <p>© Copyright 2017 Pingendo - All rights reserved.</p>
      </div>
    </div>
  </div>
</div>




