
<!--<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <div class="container h-100">
    <div class="row align-items-center ">
      <div class="col-6 mx-auto">
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="goCrearLuminaria()">Luminaria</button>
        <button type="button" class="btn btn-outline-secondary btn-lg" (click)="goCrearBacheo()">Baches</button>
        <button type="button" class="btn btn-outline-success btn-lg"(click)="goCrearArboleda()">Arboleda</button>
        <button type="button" class="btn btn-outline-danger btn-lg" (click)="goCrearSemaforo()">Semaforos</button>
      </div>
    </div>
  </div>
</div>-->

<body class="text-center bg-dark">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column bg-dark">
  <header class="masthead mb-auto">
  </header>

  <main role="main" class="inner cover bg-dark">
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3" >
            <div class="card">
              <img class="card-img" src="../../assets/img/luminaria.jpg" alt="luminaria">
              <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-primary btn-lg" (click)="goCrearLuminaria()">Luminaria</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
              <img class="card-img" src="../../assets/img/bacheo.jpg" alt="bacheo">
              <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-secondary btn-lg" (click)="goCrearBacheo()">Baches</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img" src="../../assets/img/arboleda.JPG" alt="arboleda">
              <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-success btn-lg"(click)="goCrearArboleda()">Arboleda</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img" src="../../assets/img/semaforo.jpg" alt="semaforo">
              <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-danger btn-lg" (click)="goCrearSemaforo()">Semaforos</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>

</body>
