<body class="text-center bg-gris">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column bg-gris">
  <header class="masthead mb-auto">
  </header>

  <main role="main" class="inner cover bg-gris">
    <div class="py-3">
      <div class="container">
    <div class="align-items-center bg-white rounded box-shadow head backgroundconfig">
        <h4>Señalización</h4>
      <div class="row">
        <div class="col">
          <h5>Arboleda</h5>
          <img src="http://maps.google.com/mapfiles/kml/pal2/icon12.png" class="rounded" alt="Arboleda">
        </div>
        <div class="col">
          <h5>Bacheo</h5>
          <img src="http://maps.google.com/mapfiles/kml/pal3/icon59.png" class="rounded" alt="Bacheo">
        </div>
        <div class="col">
          <h5>Luminaria</h5>
          <img src="http://maps.google.com/mapfiles/kml/pal3/icon58.png" class="rounded" alt="Luminaria">
        </div>
        <div class="col">
          <h5>Semaforo</h5>
          <img src="https://www.google.com/mapfiles/traffic.png" class="rounded" alt="Semaforo">
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="py-3">
      <div class="container">
        <div class="align-items-center bg-white rounded box-shadow head backgroundconfig">
        <app-map-global #map [reclamos]="todosLosReclamos" >
        </app-map-global>
        </div>
      </div>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>

</body>
