<body class="text-center bg-gris">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column bg-gris">
  <header class="masthead mb-auto">
  </header>

  <main role="main" class="inner cover bg-gris">
    <div class="py-5">
      <div class="container">
        <div class="align-items-center bg-white rounded box-shadow head backgroundconfig">
        <h2> Todos los reclamos de los vecinos, en un solo lugar</h2>

        <app-map [clickableMap]="false" >
        </app-map>
        </div>
      </div>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>

</body>
