<body class="text-center bg-gris">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column bg-gris">
  <header class="masthead mb-auto">
  </header>

  <main role="main" class="inner cover bg-gris">
    <div class="py-3">
      <div class="container">
    <div class="align-items-center bg-white rounded box-shadow head backgroundconfig">
        <h4>Señalización</h4>
      <div class="row">
        <div class="col">
          <h5>Arboleda</h5>
          <img src="https://lh5.googleusercontent.com/u9L7qo02khsXZf6qE6z_SrWW8g_MbO1lcu0ZfIFVsbvaltLCBEIpYtlQesHszi7yVJURonrjZ5Bz-1Tt2kQl=w1919-h925" class="rounded" alt="Arboleda">
        </div>
        <div class="col">
          <h5>Bacheo</h5>
          <img src="https://lh6.googleusercontent.com/Ub3MsJV5ROtNEHFYsaI7cPr2dJ8DcKwTsmhWYuLEI3OqtC8_4RDo9OZSz1hN6M9cxQehZ21iVYKEY0U-l7-_=w1919-h973" class="rounded" alt="Bacheo">
        </div>
        <div class="col">
          <h5>Luminaria</h5>
          <img src="https://lh4.googleusercontent.com/tXAnvTHE0FAesuvW5ffHGkNRibS8eGX8SY5x3M7m-GFAuklJeQFkwapm8mRrnUSJsaYKcVb6NXpx2gQd5kE5=w1919-h925" class="rounded" alt="Luminaria">
        </div>
        <div class="col">
          <h5>Semaforo</h5>
          <img src="https://www.google.com/mapfiles/traffic.png" class="rounded" alt="Semaforo">
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="py-3">
      <div class="container">
        <div class="align-items-center bg-white rounded box-shadow head backgroundconfig">
        <app-map-global #map [reclamos]="todosLosReclamos" >
        </app-map-global>
        </div>
      </div>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>

</body>
