<body class="bg-gris">
<main role="main" class="container ">
  <div class="align-items-center bg-white rounded box-shadow head">
    <div class="row" >
      <div class="col-md-4">
        <app-map #map *ngIf="reclamo.lugarDeIncidente"
                 [clickableMap]="false" [localizacion]="reclamo.lugarDeIncidente">
        </app-map>
      </div>
      <div class="col-md-8">
        <div class="container " *ngIf="reclamo">
          <div class="card-body" >
            <h5 class="card-title" *ngIf="reclamo.tipoDeReclamo"></h5>
            <h6>Reclamo numero #{{reclamo.id}}</h6>
            <br><h6>Problema:</h6>
            <div [ngSwitch]="reclamo?.tipoDeReclamo?.type">
              <reverse-checkbox-luminaria    *ngSwitchCase="'Luminaria'"    [reclamo]="reclamo"></reverse-checkbox-luminaria>
              <reverse-checkbox-arboleda      *ngSwitchCase="'Arboleda'"    [reclamo]="reclamo"></reverse-checkbox-arboleda>
              <reverse-checkbox-bacheo      *ngSwitchCase="'Bacheo'"    [reclamo]="reclamo"></reverse-checkbox-bacheo>
              <reverse-checkbox-semaforo      *ngSwitchCase="'Semaforo'"    [reclamo]="reclamo"></reverse-checkbox-semaforo>          </div>
            <br><h6>Detalle del reclamo:</h6>
            <p class="card-text">{{reclamo.detalle}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h6>Iniciado el dia:</h6> {{reclamo.fechaDeCreacion}}</li>
            <li class="list-group-item" *ngIf="reclamo.estado"><h6>Su reclamo se encuentra:</h6> {{reclamo.estado.type}}</li>
          </ul>
          <div class="card-body">
            <button (click)="volver()" class="btn btn-dark btn-sm">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Ultimas actualizaciones</h6>
    <div class="media text-muted pt-3"*ngFor="let e of reclamo.estados">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Reclamo {{e.type}}</strong>
      Su estado ahora es cerrado.
      <i>24/04/2018</i>
    </p>
  </div>

    <small class="d-block text-right mt-3">
      <a href="#">mas actualizaciones</a>
    </small>
  </div>

</main>
</body>

