/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #EEEEEE;
}

/* CSS only for examples not required for centering */
.container {
  height: 100%;
}


/*  Estilo al abrir el modal */
.backdrop{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}


.bg-gris{
  background-color: #EEEEEE;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
